{% extends "main.html" %}


{% block content %}

    <div class="row">
        <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12 text-center bg-dryandex text-white-50">
            <h3> {{dialog.name}} </h3>
        </div>
        <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12" id="dialog-area">
            {% for i in range(message_number) %}
                <div class="pt-3 pb-2">
                    <div class="row ml-0">
                        <div class="col-1">
                            <img src="/{{ avatars[i].path }}" alt="1" class="avatar"/>
                        </div>
                        <div class="col-9 p-0">
                            <p class="h6">{{ authors[i].name }}</p>
                            <div class="row ml-1">
                                <p class="small mt-1">{{ messages[i].text }} </p>
                            </div>

                        </div>
                        <div class="col-2">
                            {{ messages[i].time }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Ваше сообщение</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                    <button type="button" class="btn text-white bg-dryandex mt-1" onclick="sendMessage({{ dialog_id }})">Отправить сообщение</button>

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}

    <div class="modal fade" id="addUserGroup" tabindex="-1" role="dialog" aria-labelledby="addUserGroup"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление участников</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form_add_user.hidden_tag() }}
                        <p>
                            {{ form_add_user.friends.label }}<br>
                            {{ form_add_user.friends }}<br>
                            {% for error in form_add_user.friends.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </p>
                        <p>{{ form_add_user.submit() }}</p>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
