{% extends "main.html" %}


{% block content %}

<div class="row">
    <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
        {% for i in range(message_number)%}
        <div class="pt-3 pb-2">
            <div class="row ml-0">
                <div class="col-1">
                    <img src="/{{avatars[i].path}}" alt="1" class="avatar"/>
                </div>
                <div class="col-9 p-0">
                    <p class="h6">{{authors[i].name}}</p>
                    <div class="row ml-1">
                        <p class="small mt-1">{{messages[i].content}} </p>
                    </div>

                </div>
                <div class="col-2">
                    {{messages[i].time}}
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</div>
{%endblock%}