{% extends "main.html" %}


{% block content %}

<div class="row">
    <div class="col-9 p-0 ml-1">
        <input type="email" class="form-control col-12 p-0" id="email" aria-describedby="emailHelp" placeholder="Введите имя друга"
               name="email">
    </div>
    <div class="col-2 p-0 ml-1">
        <button type="submit" class="btn btn-primary mb-2 col-12">Поиск</button>

    </div>
</div>

<div class="row">
    <div class="shadow bg-white col-2 p-0 m-1 text-center">
        <div class="m-3">
            <img src="/static/images/avatar.png" alt="1" class="avatar_middle mt-2 mb-2 shadow"/>
            <a href="" class="h6 text-dark">Алексей Медведев</a>
        </div>
    </div>
    <div class="shadow bg-white col-2 p-0 m-1 text-center">
        <div class="m-3">
            <img src="/static/images/avatar.png" alt="1" class="avatar_middle mt-2 mb-2 shadow"/>
            <a href="" class="h6 text-dark">Алексей Медведев</a>
        </div>
    </div>
    <div class="shadow bg-white col-2 p-0 m-1 text-center">
        <div class="m-3">
            <img src="/static/images/avatar.png" alt="1" class="avatar_middle mt-2 mb-2 shadow"/>
            <a href="" class="h6 text-dark">Алексей Медведев</a>
        </div>
    </div>


</div>
{%endblock%}