{% extends "main.html" %}


{% block content %}

    {% for i in range(chats_number) %}
        <div class="row">
            <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
                <div class="pt-3 pb-2">
                    <div class="row ml-0">
                        <div class="col-1">
                            <img src="/static/images/messages.png" alt="1" class="avatar"/>
                        </div>
                        <div class="col-9 p-0">
                            <a href="/dialog/{{chats[i].id}}"><p class="h6">{{chats[i].name}}</p></a>
                            {% if messages[i] %}
                            <div class="row ml-1">
                                <div class="col-1 p-0 text-center">
                                    <img src="{{avatars[i]}}" alt="1" class="avatar_min"/>
                                </div>
                                <div class="col-11 p-0">
                                    <p class="small mt-1">{{messages[i].content}} </p>
                                </div>
                                <div class="col-2">
                                    {{ messages[i].time }}
                                </div>
                            </div>
                            {% else %}
                             <div class="col-11 p-0">
                                 <p class="small mt-1">Пока здесь пусто </p>
                             </div>
                            {% endif %}

                        </div>
                    </div>
                </div>


            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block modals %}

    <div class="modal fade" id="addDialgGroup" tabindex="-1" role="dialog" aria-labelledby="addDialgGroup"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление беседы</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form_add_group.hidden_tag() }}
                        <p>
                            {{ form_add_group.name.label }}<br>
                            {{ form_add_group.name(class_="form-control") }}<br>
                            {% for error in form_add_group.name.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </p>

                        <p>{{ form_add_group.submit() }}</p>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
