{% extends "main.html" %}


{% block content %}
<div class="row">
    {% for i in range(number)%}
    <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="row ml-0">
                <div class="col-3">
                    <img src="/{{avatars[i].path}}" alt="1" class="avatar shadow"/>
                </div>
                <div class="col-9">
                    <p class="h4 mt-2">{{authors[i].name}} {{authors[i].surname}}</p>
                </div>
                <div class="col-6">
                    <p class="mt-2">{{dates[i]}}</p>
                </div>
            </div>
        </div>
        <p class="p-3">{{news[i].content}}</p>
        <div class="border-top mt-2 mb-2 ml-3">
            <div class="row">
                <div class="p-2">
                    <a href="">
                        <img src="/static/images/like.png" alt="like" class="sign_post m-2"/>
                        {{likes[i]}}
                    </a>
                </div>

            </div>

        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}


