{% extends "main.html" %}


{% block content %}

    <div class="row">
        <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
            <div class="row">
                <div class="col-4 text-center m-4">
                    <div class="col-12">
                        <img src="/{{ avatar_profile }}" alt="asd" class="col-12 ava p-0"/>
                    </div>

                    {% if session["user_id"] == user.id %}
                        <form action="" method="post" enctype="multipart/form-data">
                            <p>
                                {{ ava.document.label }}
                                {{ ava.document(class_="form-control pb-5") }}
                                {% for error in ava.document.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </p>
                            <p class="mb-1">{{ ava.submit_ava(class_="btn btn-dark col-12") }}</p>
                        </form>
                        <button type="button" class="btn text-white bg-dryandex col-12" data-toggle="modal" data-target="#editAbout" >О себе</button>
                    {% endif %}
                    {% if session["user_id"] != user.id %}
                        <div class="col-12 mt-3">
                            <button type="button" class="btn text-white bg-dryandex col-12"
                                    onclick="setFriend(this, {{ user.id }})">
                                {% if is_friend %}
                                    Удалить из друзей
                                {% else %}
                                    Добавить в друзья
                                {% endif %}
                            </button>
                        </div>
                        <div class="col-12 mt-1">
                            <a href="/get_dialog/{{ user.id }}" class="btn text-white bg-dryandex col-12">Личное
                                сообщение</a>
                        </div>


                    {% endif %}
                </div>
                <div class="col-7 mt-4">
                    <h1 class="h1">{{ surname }} {{ name }}</h1>
                    <p>{{ about }}</p>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        {% if session["user_id"] == user.id %}
            <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
                <div class="pt-2 text-center">
                    <p>Есть о чем рассказать? <a href="" data-toggle="modal" data-target="#newRow">Добавить запись</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% for i in range(number) %}
            <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
                <div class=" pt-3 pb-2 mb-3 border-bottom">
                    <div class="row ml-0">
                        <div class="col-1">
                            <img src="/{{ avatars[i].path }}" alt="1" class="avatar shadow"/>
                        </div>
                        <div class="col-9">
                            <p class="h4 mt-2">{{ authors[i].name }} {{ authors[i].surname }}</p>
                        </div>
                        <div class="col-6">
                            <p class="mt-2">{{ dates[i] }}</p>
                        </div>
                    </div>
                </div>
                <p class="p-3">{{ news[i].content }}</p>
                <div class="border-top mt-2 mb-2 ml-3">
                    <div class="row">
                        <div class="p-2 pointer" onclick="like(this, {{ posts_id[i] }})">
                            {% if liked[i] %}
                                <img src="/static/images/like.png" alt="like" class="sign_post mt-2 mb-2"/>
                            {% else %}
                                <img src="/static/images/like2.png" alt="like" class="sign_post mt-2 mb-2"/>
                            {% endif %}
                            <span>{{ likes[i] }}</span>
                        </div>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}



{% block modals %}

    {% if session["user_id"] == user.id %}
        <div class="modal fade" id="newRow" tabindex="-1" role="dialog" aria-labelledby="newRow"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление новости</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.content.label }}<br>
                                {{ form.content(class_="form-control") }}<br>
                                {% for error in form.content.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </p>
                            <p>{{ form.submit() }}</p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="editAbout" tabindex="-1" role="dialog" aria-labelledby="editAbout"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">О себе:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" novalidate>
                            {{ form_about.hidden_tag() }}
                            <p>
                                {{ form_about.content.label }}<br>
                                {{ form_about.content(class_="form-control") }}<br>
                                {% for error in form_about.content.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </p>
                            <p>{{ form_about.submit() }}</p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}


