{% extends "abstract.html" %}


{% block content %}
<div class="row">
    <div class="shadow bg-white pl-- pr-1 mt-1 ml-1 col-12">
        <div class="text-center">
            <h2 class="h5 mt-4">Пожалуйста, заполните анкету</h2>
        </div>
        <div class="p-3">

            <form method="post">
                <input type="text" class="form-control mt-2"
                       placeholder="Введите имя" name="name">
                <input type="text" class="form-control mt-2"
                       placeholder="Введите фамилию" name="surname">
                <input type="text" class="form-control mt-2"
                       placeholder="Введите логин" name="login">
                <input type="password" class="form-control mt-4" id="password" placeholder="Введите пароль"
                       name="password">


                <button type="submit" class="btn btn-primary text-center">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}